@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3 text-center">
        <br/>
        <br/>
        <br/>
        <p>
            @Html.ActionLink("Grower Login »", "Login", "Account", new {area = ""}, new {@class = "btn btn-primary", style = "width: 220px"})
        </p>
        <p>
            @Html.ActionLink("Food Bank Login »", "Login", "Account", new {area = ""}, new {@class = "btn btn-primary", style = "width: 220px"})
        </p>
        <p>
            @Html.ActionLink("Create Account »", "Register", "Account", new {area = ""}, new {@class = "btn btn-primary", style = "width: 220px"})
        </p>
    </div>
    <div class="col-md-9">
        <h2>Growing Connections</h2>
        <p>Growing Connections is a Farm-to-Food Bank (F2FB) initiative meant to connect growers with food banks. Use this tool to facilitate local connections for produce! A grower can create a listing when they have produce available for donation or for sale. A food bank volunteer or staff person can see listings in their area and respond. After claiming a listing, location and pickup details will be communicated automatically. Then, the volunteer/staff picks up the produce and delivers it to their food bank!</p>
        <p>Who can be a grower? Anyone growing produce. This can be an at-home gardener, a community garden, or a farmer. Whether it’s extra produce or your burning desire to start a formal giving program with your local food banks, this site will help you grow your connections!</p>

        <p>As a food bank, you can sign up your staff or volunteers so that they can monitor and search for when there might be produce available in your area. The listings will show you whether that grower is donating or selling produce and how much it is.</p>

        <p>We hope this site helps to increase fresh produce available to food bank clients as well as more diverse produce choices for food bank clients; brings support to local agriculture; and builds a stronger community.</p>
    </div>
</div>