@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Growing Connections</h1>
    <p class="lead">Northwest Harvest is Washington's own statewide hunger relief agency. Our mission is leading the fight for hungry people statewide to have access to nutritious food while respecting their dignity and promoting good health. Our vision is ending hunger in Washington.</p>
    <p><a href="http://www.northwestharvest.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>Growers</h2>
        <p>A listing of food providers.</p>
        <p>
            @Html.ActionLink("Growers »", "Index", "Growers", new {area=""}, new {@class = "btn btn-default"})
        </p>
    </div>
    <div class="col-md-4">
        <h2>Food Banks</h2>
        <p>Place to distribute food to those in need.</p>
            @Html.ActionLink("Food Banks »", "Index", "FoodBanks", new { area = "" }, new {@class="btn btn-default"})
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Available Produce</h2>
        <p>Current listings</p>
        <p>@Html.ActionLink("Listings »", "Index", "Listings", new { area = "" }, new {@class="btn btn-default"})</p>
    </div>
</div>