
@{
    ViewBag.Title = "RegisterRouteView";
}

<h2>Are you a Grower or a Food Bank?</h2>
<div class="userType">
    <a href="/Account/Register"><input type="button" value="Grower" /></a>
    <a href="/Account/FoodBankRegister"><input type="button" value="Food Bank" /></a>
</div>

